<h1>Author Show Page</h1>

<section id="author-info">
  <li><%= @author.name %><li>
</section>

<section id="authors-books">
    <% @books.each do |book| %>
      <%= render book %>
    <%end%>
</section>
