<h1>Author Show Page</h1>

<section id="author">
  <li><%= @author.name %><li>
</section>

<section id="authors-books">
  <% @books.each_with_index do |book, index| %>
  <div id=<%="book-pair#{index+1}"%>
    <%= render book, author: @author  %>
    <%= render book.top_review %>
  <% end %>
</section>
